@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');
body{
    margin: 0;
    background: #ECECEC;
}
.main
{
    display: flex;
}
.left{
    flex-basis: 60%;
    padding-top: 10%;
    padding-left: 5%;
    background-image: url("assets/bg.png");
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
}
.right{
    flex-basis: 40%;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    padding-top: 15%;
    padding-left: 5%;
    box-sizing: border-box;
}

.login-form{
    width: 80%;
}

.logo{
    width: 332px;
    height: auto;
}
.code{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    color: white;
    background: linear-gradient(180deg, #6F6F6F 0%, rgba(255, 255, 255, 0.76) 48.96%, rgba(245, 245, 245, 0.18) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    margin-left: 5%;
}

label{
    color: var(--text-secondary, #5A5A5D);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 100%; /* 32px */
    text-transform: capitalize;
    display: flex;
    margin: 2% 0;
    justify-content: space-between;
}
.link{
    font-size: 16px;
    text-decoration: none;
    color: var(--primary, #007DFA);
}
.inputs{
    box-sizing: border-box;
    display: flex;
    background-color: transparent;
padding: 12px 16px;
align-items: center;
gap: 5px;
flex: 1 0 0;
width: 100%;
align-self: stretch;
/* Typography */
color: var(--text-secondary, #5A5A5D);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 24px */
/* Border */
border-radius: 8px;
border: 2px solid var(--text-tertiary, #BEBEBF);
}
.inputs::placeholder {
    color: var(--text-tertiary, #BEBEBF);
}
.inputs:focus-within {
    outline: none;
    border-color: #aed6ff;
}
.sign-up{
    color: var(--text-tertiary, #BEBEBF);
    text-align: center;
}
.login{
    display: flex;
    height: 56px;
    padding: 16px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--primary, #007DFA);
    border: none;
    /* Typo */
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}
.login-social{
background: #E0EFFE;
color: var(--primary, #007DFA);
}
input[type=password]{
    box-sizing: border-box;
    display: flex;
    background-color: transparent;

align-items: center;
gap: 5px;
flex: 1 0 0;
width: 100%;
align-self: stretch;
/* Typography */
color: var(--text-secondary, #5A5A5D);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 24px */
/* Border */
border: none;
}
input[type=password]::placeholder {
    color: var(--text-tertiary, #BEBEBF);
}
input[type=password]:focus {
    outline: none;
    border-color: #aed6ff;
}
.mbl-logo{
    display: none;
}
@media (max-width: 1100px) {
   .right{
    flex-basis: 50%;
   } 
   .left{
    flex-basis: 50%;
   }
  }
  @media (max-width: 880px) {
    .left{
        display: none;
    }
    .login-form {
        width: 100%;
        padding-right: 5%;
        box-sizing: border-box;
    }
    .right{
        flex-basis: 100%;
        justify-self: center;
    }
    .mbl-logo{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
  }

